<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  <!--
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>leavelobby</servlet-name>
    <servlet-class>LeaveLobby</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>leavelobby</servlet-name>
    <url-pattern>/leave</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>readyup</servlet-name>
    <servlet-class>Ready</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readyup</servlet-name>
    <url-pattern>/ready</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>selection</servlet-name>
    <servlet-class>Selection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selection</servlet-name>
    <url-pattern>/select</url-pattern>
  </servlet-mapping>

  -->
  <servlet>
    <servlet-name>createorjoinlobby</servlet-name>
    <servlet-class>CreateOrJoinLobby</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createorjoinlobby</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createorjoinlobby</servlet-name>
    <url-pattern>/join</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
</web-app>
